<p appHightLight>about works!</p>
<p [appHightLight]="myColor">about works!</p>
<p [appHightLight]="'orange'">about works!</p>

<ul [ngSwitch]="loginName">
  <li *ngSwitchCase="'user'">
    <p>nguoi dung dang nhap</p>
  </li>
  <li *ngSwitchCase="'admin'">
    <p>admin dang nhap</p>
    <app-home></app-home>
  </li>
  <li *ngSwitchDefault>
    <p>chon cach dang nhap</p>
  </li>
</ul>

<!-- <span>Counter = {{ counter }}</span>
<br />
<span>Counter Binh Phuong = {{ counterBinhPhuong }}</span> -->
