<div class="test">
  <h3>day la component Home</h3>
  <h1>Trai cay</h1>

  <!-- <table class="table" id="table2">
    <tr>
      <th>STT</th>
      <th>Tên</th>
      <th>Giá</th>
      <th>Sale</th>
    </tr>
    <tr *ngFor="let trai of traiCay2; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ trai.ten | uppercase }}</td>
      <td class="right">
        <span [ngClass]="{ 'so-am': trai.gia < 0 }">{{
          trai.gia | currency : "VND" : "symbol" : "1.2"
        }}</span>
      </td>
      <td>
        <span>{{ trai.haGia | onSale | uppercase }}</span>
      </td>
    </tr>
  </table> -->
  tinh / thanh pho
  <select name="" id="city" (change)="changeCity($event)">
    <option *ngFor="let data of vietnamData" value="{{ data.city }}">
      {{ data.city }}
    </option>
  </select>
  <br />
  quan / huyen
  <select name="" id="district">
    <option *ngFor="let district of districts" value="{{ district }}">
      {{ district }}
    </option>
  </select>
  <br />
  <span>Counter = {{ counter }}</span>
  <br />
  <span>Counter Binh Phuong = {{ counterBinhPhuong }}</span>
</div>
